.HoverWrapper:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}
.HoverWrapper {
    -fx-background-color: transparent;
}
.PressedWrapper {
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

#dmNav:hover {
 -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 20, 0, 0, 0 );
}

TextField {
    -fx-background-color: transparent;
    -fx-text-fill: grey;
}
TextField:focused {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#chatWindowName {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

#chatWindowName:focused {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.scroll-pane {
    -fx-background: #0E1621;
    -fx-border-color: #0E1621;
}

.text-area {
    -fx-background-color: #17212B;
    -fx-text-fill: rgb(221, 221, 221);
}

.text-area .content {
    -fx-background-color: #17212B;
    -fx-background-radius: 0;
}

.text-area:focused .content {
    -fx-background-color: #17212B;
    -fx-background-radius: 0;
}

.text-area:focused {
    -fx-text-fill: white;
}

.text-area .scroll-bar {
    -fx-opacity: 0;
}



#listViewCol2 .list-cell:selected {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

#listFriend .list-cell:selected, #listMessage .list-cell:selected, #msgWindow .list-cell:selected {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 8px;
}

.scroll-bar:horizontal {
    -fx-pref-height: 0px;
}

* {
    -fx-focus-traversable: true;
    -fx-focus-color: transparent;
    -fx-min-width: 50px;
}

.scroll-bar .thumb {
    -fx-background-color: rgba(255, 255, 255, 0.125)
}

#listViewCol1 .scroll-bar:vertical {
    -fx-pref-width: 0px;
}

.list-view .list-cell {
    -fx-background-color: transparent;
}

.list-view {
    -fx-background-color: transparent
}

.list-view .corner {
    -fx-background-color: transparent
}

.list-view .list-cell:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.noHoverListView .list-cell:hover {
    -fx-background-color: transparent;
}



.increment-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

.decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}