.text-field {
    -fx-background-color: #17212B;
    -fx-text-fill: lightgrey;
}

.text-field:focused {
    -fx-text-fill: white;
}

Button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

Button:hover {
    -fx-background-color: rgba(255, 255, 255, 0.1);

}