.change-password {
    -fx-text-fill: #0084ff;
    -fx-font-size: 14px;
    -fx-border-width: 0;
}

.change-password:hover {
    -fx-text-fill: #0073e6;
}

.create-account {
    -fx-background-color: #4e4e4e;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-border-width: 0;
}

.create-account:hover {
    -fx-background-color: #646464;
}